<div class="container-fluid d-flex flex-column vh-100">
    <div class="row flex-grow-1">
        <div class="col-md-8 bg-body-tertiary px-4">
            <h1 class="text-center mt-5 mb-3" style="font-size: 24px;">{{ title }}</h1>

            <div class="row d-flex">
                <div class="row d-flex">
                    <div
                        class="col-md-3 mb-4"
                         *ngFor="let store of stores;
                         let i = index"
                    >
                        <div class="card">
                            <div class="d-flex justify-content-between">
                                <h2
                                    class="card-title px-4 pt-2">
                                    {{ getTotalAmount(store) }}
                                </h2>
                                <p class="card-title px-4 pt-2"> {{ store.name }} </p>
                                <p class="pt-2 px-3">
                                    <fa-icon
                                        class="delete-icon hide-icon"
                                        [icon]="faTrash"
                                        (click)="deleteStore(store)"
                                    ></fa-icon>
                                </p>
                            </div>
                            <div class="card-body text-end px-4">
                                <h3 class="card-title">Most popular:</h3>
                                <p class="card-text">
                                    {{ getMostPopularProduct(store) }}
                                    - In Stock
                                    {{ getPopularProductAmount(store) }}
                                    items
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 px-5 form">
            <app-store (storeAdded)="onStoreAdded($event)"></app-store>
        </div>

    </div>
</div>

<app-toast-notification [toast]="toast" (close)="closeToast()"></app-toast-notification>

<router-outlet></router-outlet>
